@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Poppins:wght@500;700&display=swap');


body {
    display: flex;
    flex-direction: column;
}

.main-image {

       clip-path: inset(0px 100px 0px 0px);
    margin-right: -50%;
}

.navbar{
    margin:0;
    padding: 10px 10px;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.navbar img{
    height: 20px;
    
}


.header-text-section {
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-top: 20px;
     margin-bottom:20px;


}

.header-text-section h1 {
    justify-content: center;
    align-items: center;
    padding:0 40px ;
    font-family: poppins;
    font-weight:700;

}
.header-text-section p {
    justify-content: center;
    align-items: center;
    padding:0 35px ;
    color:  hsl(257, 7%, 63%);
   font-family: poppins;
   font-weight:400;

}

.header-text-section button {
 margin-top:25px;
 margin-bottom:25px;
    background-color: hsl(180, 66%, 49%); 
    border: none;
    color: white;
    border-radius: 25px;
    padding: 16px 23px 13px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: poppins;
    font-weight:400;
    text-transform: uppercase;
    cursor:pointer;


}



.attribution{
    bottom:10%;

}